<section class=" footer py-5" id="footer">
    <div class=" bye col-md-12 text-center mb-3 ">
        <div class="logon ">
            <h3>Thoth Moon Tours</h3>
        </div>
        <div class="content py-4 Text-center">
            <p class="text-secondary">All Copy Rights Reserved to Esraa Tour Guide</p>
        </div>
    </div>

    <div class="icons text-center">
        <a href="https://www.facebook.com/ThothMoonTours/" target="_blank"> <i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/thouth.moon.tours1/" target="_blank"> <i
                class="fab fa-instagram-square"></i></a>
        <a href="https://wa.me/+201060697897" target="_blank"> <i class="fab fa-whatsapp-square"></i></a>


    </div>
</section>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="/js/script.js"></script>

</body>

</html>